// Eskolako loloreen definizioak
/* MU */
$mu-iluna: #004851;
$mu: #00A3AD;
$mu-60: #66C5D2;
$mu-35: #A5DDE5;

/* Goi eskola politeknikoa (MGEP) */
$mgep-iluna: hsl(10, 65%, 43%);
$mgep: hsl(21, 71%, 52%);
$mgep-distira: hsl(35, 100%, 46%);
$mgep-distira-50: hsl(35, 87%, 73%);

/* Humanitate eta Hezkuntza Zientzien Fakultatea (HUEZI) */
$huezi-iluna: #6C1D45;
$huezi: #A50050;
$huesi-distira: #DA1884;
$huesi-distira-50: #ED8CC2;

/* Empresagintza (ETEO) */
$eteo-iluna: #275D38;
$eteo: #44883E;
$eteo-distira: #509E2F;
$eteo-distira-50: #A8CF97;

/* CTA: Call to action. Descubre más, Apuntate... */
$horia: hsl(44, 100%, 59%);
$cta: $horia;

/* Profesionalentzako Prestakuntza (PRO) */
$pro: hsl(346, 100%, 42%);
$pro-beltza: hsl(20, 4%, 17%);
$pro-beltza-50: #2C2A297F;

/* Beste batzuk */
$grisa: #e1e2ed;
$grisa2: #ededed;
$grisa3: #e3e3e3;
$gris-iluna: #2c2e35;
$berde-argia: #95c11f;
$berdea: #45883e;
$berde-iluna: #0e311c;
$larrosa: #ab1254;
$laranja: hsl(21, 100%, 52%);
$urdina: #0091d3;
$morea: #814795;
$asfabrik: #ff2e17;
$bbf: #d6382d;
$gorria: #BA2E1E;

/* Nik gehitutakoa */

// Font aldaketa
@import "https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap";
$font-family-base: 'Encode Sans', sans-serif;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

// Nola egin Primary testua zuria izateko? Berdina MGEP eta ETEOrekin.
// Contrastea aldatuta egiten du, baina ez da hain accesiblea.
$primary: $mu;
$secondary: $mu-iluna;
$tertiary: $mu-60;
$quaternary: $mu-35;
$dark: $pro-beltza;
$light: ghostwhite;
$success: $berde-argia;
$danger: $gorria;
$info: $urdina;
$warning: $laranja;

/*
$border-radius: 0.25rem;
$border-width: 1px;
*/

$body-bg: $grisa3;
$body-color: $pro-beltza;


// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";

// $min-contrast-ratio: 3;  // Reducing accessibility, we can have white text on primary.

$custom-theme-colors: (
    "tertiary": $tertiary,
    "quaternary": $quaternary,
    "mgep": $mgep,
    "huezi": $huezi,
    "eteo": $eteo,
    "pro": $pro,
    "cta": $cta
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);


// Alertentzako falta diren koloreak gehitu.
:root {
@each $state, $color in $custom-theme-colors {
    $state-bg-color: tint-color($color, 80%);
    $state-text-emphasis-color: shade-color($color, 60%);
    $state-border-subltle-color: tint-color($color, 60%);
    --bs-#{$state}-bg-subtle: #{$state-bg-color};
    --bs-#{$state}-text-emphasis: #{$state-text-emphasis-color};
    --bs-#{$state}-border-subtle: #{$state-border-subltle-color};
}
}

[data-bs-theme=dark] {
    /* begitu */
    @each $state, $color in $custom-theme-colors {
        $state-bg-color: shade-color($color, 80%);
        $state-text-emphasis-color: tiny-color($color, 40%);
        $state-border-subltle-color: shade-color($color, 40%);
        --bs-#{$state}-bg-subtle: #{$state-bg-color};
        --bs-#{$state}-text-emphasis: #{$state-text-emphasis-color};
        --bs-#{$state}-border-subtle: #{$state-border-subltle-color};
    }
}


// Beste guztia importatu
@import "../bootstrap/scss/bootstrap";

// Nire aldaketak
.card {
    background-color: $white;
}

[data-bs-theme=dark] .card, .card[data-bs-theme=dark] {
    background-color: $dark;
}


.card-header {
    margin-block: 1.2em;
    margin-inline-end: 2em;
}

.card-header:first-child {
    border-radius: 0 1000em 1000em 0;
    width: max-content;
    max-width: calc(100% - 2em);
    padding-inline-start: 2em;
    padding-inline-end: 3em;
    padding-block: 1em;
    text-align: start;
    background-color: $secondary;
    color: $light;
}

.card-footer {
    border-block-start: 0;
    margin-block: 0.8em;
    margin-inline-start: 2em;
}

.card-footer:last-child {
    border-radius: 1000em 0 0 1000em;
    width: max-content;
    max-width: calc(100% - 2em);
    padding-inline-start: 3em;
    text-align: end;
    margin-inline-start: auto;
    background-color: $tertiary;
    color: $dark;
}

.biribil {
    border-radius: 1000rem;
    padding-block: 0.5em;
    padding-inline: 2em;
}

.biribil-left {
    border-radius: 0 1000rem 1000rem 0;
    padding-inline-start: 1em;
}

.biribil-right {
    border-radius: 1000rem 0 0 1000rem;
    padding-inline-end: 1em;
}